@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-foreground-rgb: 11, 11, 11;
  --default-background-rgb: 255, 255, 255;

  --foreground-rgb: var(--default-foreground-rgb);
  --foreground: rgb(var(--foreground-rgb));
  --background-rgb: var(--default-background-rgb);
  --background: rgb(var(--background-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-foreground-rgb: 11, 11, 11;
    --default-background-rgb: 255, 255, 255;

    --foreground-rgb: var(--default-foreground-rgb);
    --foreground: rgb(var(--foreground-rgb));
    --background-rgb: var(--default-background-rgb);
    --background: rgb(var(--background-rgb));
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
